@import 'assets/styles/const/colors';
@import 'assets/styles/const/fonts';

.passwordModal {
  position: relative;
  font-size: 1.1em;
  width: 400px;
  padding: 0.8em 1.2em 0.8em 6em;
  color: $modalFontColor;
  background: rgba($terminalHeadBgColor, 0.95);
  border: 1px solid $terminalBorderColor;
  text-align: left;
  font-family: $modalFont;
  font-weight: $modalFontCut;

  .lockIcon {
    position: absolute;
    top: 2.5em;
    left: 1.5em;
  }
}
