$mainFontColor: #f4f4f4;
$mainBgColor: rgba(#000, 0.8);

$terminalBorderColor: #454545;
$terminalFontColor: #aaa;
$terminalHeadBgColor: #343434;

$closeBtnBgColor: #de5347;
$closeBtnColor: darken($closeBtnBgColor, 40%);
