$mainFontColor: #f4f4f4;
$mainBgColor: rgba(#000, 0.8);

$terminalBorderColor: #454545;
$terminalFontColor: #aaa;
$terminalHeadBgColor: #343434;

$closeBtnBgColor: #de5347;
$closeBtnColor: darken($closeBtnBgColor, 40%);

$primaryButtonBgColor: #1560d2;
$secondaryButtonBgColor: #707070;

$modalFontColor: #e1e1e1;
$modalInputFocusColor: rgba($primaryButtonBgColor, 0.6);

$lockIconBgColor: #fdbd5a;
$lockIconBorderColor: #dadfe2;
