$mainFontUrl: 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap';
$mainFont: 'Fira Code', monospace;
$mainFontCut: 300;

$modalFont: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad,
  'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
$modalFontCut: 300;
$modalFontBoldCut: 600;
