@import 'assets/styles/const/colors';

.terminalHead {
  position: relative;
  font-size: 0.8em;
  color: $terminalFontColor;
  cursor: default;

  &::selection,
  *::selection {
    background: transparent;
  }

  .closeBtn {
    position: absolute;
    left: 0.5em;
    top: 0.3em;
    z-index: 2;
  }

  .passwordModal {
    position: absolute;
    top: 100%;
    left: calc(50% - 200px);
    z-index: 0;
  }
}

.headContent {
  position: relative;
  padding: 0.05em 2em 0.125em;
  background: $terminalHeadBgColor;
  border-bottom: 1px solid $terminalBorderColor;
  text-align: center;
  z-index: 1;
}
