@import 'assets/styles/const/colors';
@import 'assets/styles/const/fonts';

.terminalInputWrapper {
  display: flex;
  flex-direction: row;
}

.terminalInput {
  flex-grow: 1;
  font-size: 100%;
  color: $mainFontColor;
  background: unset;
  caret-color: $mainFontColor;
  border: unset;
  font-family: $mainFont;
  font-weight: $mainFontCut;

  &:focus {
    outline: none;
  }
}
