@import 'assets/styles/const/colors';
@import 'assets/styles/const/sizes';
@import 'assets/styles/mixins/utils/fullSizeContent';
@import 'assets/styles/mixins/utils/terminalScroll';

.terminalWindow {
  @include fullSizeContent($columnDirection);

  background-color: $mainBgColor;
  border: 1px solid $mainBgColor;
}

.terminalWrapper {
  @include fullSizeContent($columnDirection);

  background: transparent;
  border: 1px solid $terminalBorderColor;
  border-radius: $defaultBorderRad;
  overflow: hidden;
}

.terminalContent {
  flex-grow: 1;
  max-height: 100%;
  padding: 0.2em 0.25em;
  overflow-y: scroll;

  @include terminalScroll;

  > * {
    width: 100%;
    min-height: 100%;
  }
}
