@import 'assets/styles/const/colors';
@import 'assets/styles/mixins/utils/terminalScroll';

.terminalWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $mainBgColor;
  border: 1px solid $terminalBorderColor;
  border-radius: 0.4em;
  overflow: hidden;
}

.terminalContent {
  flex-grow: 1;
  max-height: 100%;
  padding: 0.2em 0.25em;
  overflow-y: scroll;

  @include terminalScroll;

  > * {
    width: 100%;
    min-height: 100%;
  }
}
