@import 'assets/styles/const/colors';

.terminalWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $mainBgColor;
  border: 1px solid $terminalBorderColor;
  border-radius: 0.4em;
  overflow: hidden;
}

.terminalHead {
  font-size: 0.8em;
  padding: 0.05em 0 0.125em;
  color: $terminalFontColor;
  background: $terminalHeadBgColor;
  text-align: center;
}

.terminalContent {
  flex-grow: 1;
  padding: 0 0.25em;

  > * {
    width: 100%;
    height: 100%;
  }
}
