@import 'const/colors';
@import 'const/fonts';

@import url($mainFontUrl);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  max-width: 100%;
  min-width: 960px;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: $mainFontColor;
  font-family: $mainFont;
  font-weight: $mainFontCut;

  #root {
    display: flex;
    height: 100%;
  }
}

::selection {
  background: rgba($mainFontColor, 0.2);
}
